header {
  height             : 0;
  background-position: center -80px;
  background-size    : 1440px 1079px;
}

nav {
  background: #00355f;
}

/* contact section */

.down-header h1 {
  color      : #484850;
  font-size  : 72px;
  line-height: 86px;
  font-weight: 400;
  max-width  : 423px;
  font-family: "Playfair Display", serif;
  margin     : 0 auto;
}

/* information section */

.information {
  margin-bottom: 123.16vh;
}

.information h2 {
  color: #484850;
}

.information a {
  color: #00355f;
}

@media only screen and (min-width: 1441px) {
  header{
    background-size: cover;
  }
}